@import "tailwindcss";

@font-face {
  font-family: 'Angellin';
  src: url('shared/fonts/Angellin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.font-angellin {
  font-family: 'Angellin', sans-serif;
}
